/*Common styles
==========================================================*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    margin: 0 auto;
}
.wrapper {
    max-width: 1280px;
    font-size: calc(12px + 0.15vw);                  /*1em = 14px при ширине 1280px*/
    font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 72%;
    margin: 0 auto;
}
.container--row {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
    width: 72%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
section {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}
/*Header styles
==========================================================*/
.header-top {
    position: sticky;
    top: 0;
    z-index: 25; 
    background: #70BAC3;
}
.header-top__name {
    padding: 1em 0;
}
.header-top__name > a {
    font-size: 2.95em;
    font-family: 'Cherry Swash', cursive;
    vertical-align: baseline;
    color: #ffffff;
    border: 0;
}
.header-top__name > a:hover {
    color: #06f7a6;
}
.header-top__nav {
    display: flex;
    justify-content: space-between;
    width: 35.4em;

    color: #ffffff;
    text-transform: uppercase;
}
.header-top__nav > a {
    position: relative;
    font-size: 1.35em;
    color: #ffffff;  
    border: 0;
}
.header-top__nav > a:hover {
    color: #06f7a6;  
}
.header-top__nav > a:not(:last-child):after {
    content: '';
    position: absolute;
    top: 0.5em;
    right: -1.22em;

    width: 14px;
    height: 1.5px;

    background-color: #ffffff;
    transform: rotate(-70deg);
}
.header-top__hamburger {
    position: relative;
    display: none;
    width: 55px;
    height: 4px;
    background: #ffffff;
}
.header-top__hamburger:before {
    content: '';
    position: absolute;
    top: -10px;
    width: 55px;
    height: 4px;
    background: #ffffff;
}
.header-top__hamburger:after {
    content: '';
    position: absolute;
    top: 10px;
    width: 55px;
    height: 4px;
    background: #ffffff;
}
.custom-header {
    padding: 9em 0 2.3em;
    background: url(../img/header-background.jpeg) no-repeat 50% 10% / cover;
}
.custom-header h2 {
    align-items: center;
    padding: 0 2em 1.05em;

    font-weight: 700;
    font-size: 3.2em;
    text-align: center;
    color: #E4E4E4;
    text-transform: uppercase;    
}
.custom-header__btn {
    padding: 0.17em 1.3em 0.23em 1.53em;
    
    font-weight: 300;
    font-size: 2.2em;
    color: #ffffff;

    background: transparent;
    border: 0.1em solid #ffffff;
    border-radius: 0.17em;
}
.custom-header__btn:hover {
    color: #06f7a6;
    cursor: pointer;
}
.custom-header__list {
    display: flex;
    justify-content: space-between;
    width: 6em;
    padding-top: 8.4em;
    list-style: none;
}
.custom-header__list > li {
    width: 9px;
    height: 9px;

    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}
.custom-header__list > li:nth-child(3) {
    background-color: #69728C;
}
/*Main styles
==========================================================*/
/*----------About----------*/
.about {
    padding: 6em 0 5.8em;
    text-align: center;   
    background-color: #ffffff; 
}
.about h3 {
    padding: 0 5% 1.3em 5%;
    font-weight: 400;
    font-size: 2.15em;
    color: #4C505D;
}
.about p {
    padding-bottom: 5em;
    font-weight: 400;
    font-size: 1em;
    color: #4C505D;    
}
.about__img {
    width: 100%;
    padding: 0 12vw;
}
.about__img > ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
}
/*----------Portfolio----------*/
.portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 6.9em 0 6.7em 0;
    background: #00D089;
}
.portfolio__author {
    display: flex;
    padding-bottom: 4.3em;
}
.portfolio__author img {
    width: 9.6em;
    height: 9.6em;
    margin-right: 2.7em;

    border-radius: 50%;
    object-fit: none;
    object-position: center top;
    overflow: hidden;
}
.portfolio-author__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-author__main p {
    position: relative;
    padding-bottom: 0.6em;

    font-weight: 700;
    font-size: 1.9em;  /*---26px при ширине по умолчанию---*/
    color: #E4E4E4;
    text-transform: uppercase;
}
.portfolio-author__main > p:after {
    content: '”';
    position: absolute;
    top: -0.07em;
    left: -0.07em;

    font-weight: 700;
    font-size: 350px;  
    opacity: 0.2;
}
.portfolio__main {
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.7;
    text-align: justify;
    color: #ffffff;
}
/*----------Contact----------*/
.contact {
    display: flex;
    justify-content: center;
    padding: 3.7em 0;
    background: url(../img/map.jpeg) no-repeat center bottom / cover;
}
.contact__circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30.8em;
    height: 30.8em;
    padding: 8em 0 3.2em;

    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #E3E3E3;
    opacity: 0.85;
}
.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__form > input {
    width: 19.7em;
    margin-bottom: 1em;
    
    font-weight: 300;
    font-size: 1em;
    color: #4C505D;

    border: 1px solid rgba(76, 80, 93, 0.5);
    opacity: 0.5;
}
.contact-form__name {
    padding: 0.5em 0 0.5em 1em;
}
.contact-form__email {
    padding: 0.5em 0 0.5em 1em;
}
.contact__form > textarea {
    width: 19.7em;
    padding: 0.85em 0 2.4em 1em;

    font-weight: 300;
    font-size: 1em;
    font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color: #4C505D;

    border: 1px solid rgba(76, 80, 93, 0.5);
    opacity: 0.5;
    resize: none;
}
.contact-form__btn {
    position: relative;
    width: 67px;
    height: 67px;
    margin-top: 2.5em;

    background-color: #00D089;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
}
.contact-form__btn:before {
    content: '';
    position: absolute;
    top: 34px;
    left: 14px;

    width: 25px;
    height: 8px;

    background-color: #fff;
    border-radius: 2px;

    transform: rotate(45deg);
}
.contact-form__btn:after {
    content: '';
    position: absolute;
    top: 30px;
    left: 25px;

    width: 33px;
    height: 8px;
    
    background-color: #fff;
    border-radius: 2px;

    transform: rotate(-48deg);    
}
/*Footer styles
==========================================================*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #00D089;
}
.footer__text {
    padding: 1.1em 0 1.1em;
    font-size: 1em;
    color: #FFFFFF;
    font-stretch: condensed;
    text-transform: uppercase;
}
